body {
  font-family: "ALS Sector", Lato, sans-serif;
}

.color.brown::before {
  background-color: brown;
}

.color.cyan::before {
  background-color: cyan;
}

.main-margin {
  margin-bottom: 50vh;
}
